{% extends 'base.html' %}

{% block content %}
<div>
  <div class="container pt-4">
    <div class="row p-0 mt-4">
      <div class="col-lg-4 mx-auto shadow p-0"style="background-color: rgb(238, 238, 148);">
        <div class="alert alert-info" style="color:black;">
          <h2>ADD New TODO</h2>
        </div>
        <div class="p-4">
          <form action="/add-todo/" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <hr>
            <input type="submit" value="ADD" class="btn btn-info">
          </form>
        </div>
      </div>

      <div class="col">
        <div class="border" style="background-color:rgb(240, 230, 230);" >
         {% if todos|length == 0 %}
          <div class="p-4">
            <br>
            <br>
            <div class="alert alert-info text-center">
            <p class=""style="font-size: 30px;">No Todos</p>
            </div>
            <br>
            <br>
          </div>
         {% else %}
         <div>
          <table class="table">
            <thead>
              <tr>
                <th>SNo*</th>
                <th>Title</th>
                <th>Status</th>
                <th>Priority</th>
                <th>Actions</th>

              </tr>
            </thead>
            <tbody>

              {% for todo in todos %}
              <tr>
                <td>{{forloop.counter}}</td>
                <td>{{todo.title}}</td>
                <td>
                  {% if todo.status == 'C' %}
                  ✅
                  {% else %}
                  🕒
                  {% endif %}
                </td>
                <td>{{todo.priority}}</td>
                <td>
                  <a href="/delete-todo/{{todo.id}}" title="Delete">🗑</a>
                  {% if todo.status == 'P' %}
                  <a href="/change-status/{{todo.id}}/C" title="Completed">✅</a>
                  {% else %}
                  <a href="/change-status/{{todo.id}}/P" title="Mark Panding">🕒</a>
                  {% endif %}
                </td>
              </tr>
              {% endfor %}


            </tbody>
          </table>
        </div>

         {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}